@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

p,
span {
  font: {
    weight: 400;
    size: 14px;
  }
}

h2 {
  font: {
    size: 18px;
  }
}
