@import "./normalize.css";
@import "./fonts.scss";
@import "./post.scss";

button {
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: peachpuff;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 5px orange;
  }

  &:active {
    box-shadow: 0px 0px 5px orange;
    background-color: whitesmoke;
  }
}
