#posts-list {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;

  .post {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    padding-bottom: 0;
    margin: 20px;
    margin-bottom: 0px;
    border-radius: 10px;
    word-wrap: break-word;
    box-shadow: 0px 0px 5px grey;

    .post-content {
      .post-title {
        margin: 0;
        margin-bottom: 15px;
      }

      .post-text {
        margin: 0;
      }
    }

    .post-footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      button {
        margin: 5px 0;
        margin-right: 5px;
      }

      .post-time {
        align-self: flex-end;
        color: gray;
        padding: 10px 0;

        p {
          margin: 0;
        }

        .post-create-time {
          margin-bottom: 10px;
        }
      }
    }
  }
}
